.centered-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px;
  box-sizing: border-box;
}

.centered-image {
  height: auto;
  width: 50vw;
  max-width: 500px;
  margin-bottom: 16px;
}

.centered-text {
  font-size: 1.25rem;
  margin: 0;
}
